.weather-day-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 14px;
  text-align: center;

  .weather-state-container {
    display: flex;
    align-items: center;
    .icon-state {
      display: flex;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .name-state {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .date {
    color: #337ab7;
  }

  .min {
    margin-top: 5px;
  }

  .wind {
    margin-top: 10px;

    .dir {
      display: inline-block;
      width: 1em;
      height: 1em;
      background: url(http://localhost:8080/static/img/weather/windarrow.svg);
      background-size: 100% 100%;
    }

    .dir-nne {
      transform: rotate(22.5deg);
    }
    .dir-ne {
      transform: rotate(45deg);
    }
    .dir-ene {
      transform: rotate(67.5deg);
    }
    .dir-e {
      transform: rotate(90deg);
    }
    .dir-ese {
      transform: rotate(112.5deg);
    }
    .dir-se {
      transform: rotate(135deg);
    }
    .dir-nnw {
      transform: rotate(157.5deg);
    }
    .dir-sse {
      transform: rotate(180deg);
    }
    .dir-s {
      transform: rotate(202.5deg);
    }
    .dir-ssw {
      transform: rotate(225deg);
    }
    .dir-sw {
      transform: rotate(247.5deg);
    }
    .dir-wsw {
      transform: rotate(270deg);
    }
    .dir-w {
      transform: rotate(292.5deg);
    }
    .dir-wnw {
      transform: rotate(315deg);
    }
    .dir-nw {
      transform: rotate(337.5deg);
    }
  }
}
